*.pyc
__pycache__/
.env
.vscode/
Logfile
Logfile.log
conf

saythanks-mobile-testing/reports/
saythanks-mobile-testing/reports/*.html
saythanks-mobile-testing/reports/*.xml
saythanks-mobile-testing/reports/*.json